<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Baliescape's Package</title>
    <link rel="stylesheet" href="CreatePack.css">
</head>
<body>
    <div class="container">
        <h1>Create Baliescape's Package</h1>
        <form action="CreatePackServlet" method="post">
            <label for="packID">Package ID:</label>
            <input type="text" id="packID" name="packID" required><br>

            <label for="packName">Package Name:</label>
            <tr>
			<td><input type="radio" name="packName" value="Romantic">Romantic</td>
			<td><input type="radio" name="packName" value="Adventure">Adventure</td>
			<td><input type="radio" name="packName" value="Group">Group</td>
		    </tr><br>
		   
		    <label for="packActivity">Package Activity:</label>
            <input type="text" id="packActivity" name="packActivity" required><br>
            
            <label for="packType">Package Type:</label>
            <input type="text" id="packType" name="packType" required><br>

            <label for="packPrice">Package Price:</label>
            <input type="text" id="packPrice" name="packPrice" required><br>

            <button type="submit">Create</button>
            <button type="submit">Reset</button>
        </form>
    </div>
</body>
</html>
